{% extends 'admin/layout.html.twig' %}
{% block title %}{{ 'base.administration'|trans }}{% endblock title %}

{% block admin_content %}
<header class="mb-4">
    <h1>{{ 'base.administration'|trans }}</h1>
</header>
<p>{{ 'product.products_for_sale'|trans({'%product_rows%': product_rows}) }}</p>
<p>{{ 'product.turn_over'|trans({'%total_revenue%': total_revenue}) }}</p>
{% endblock %}