{% extends 'shop/layout.html.twig' %}
{% block title %}{{  'base.order_confirmation'|trans  }}{% endblock %}

{% block shop_content %}
<header>
    <h1>{{ 'base.order_confirmation'|trans }}</h1>
</header>

<p>{{ 'base.confirm_email_message'|trans }}</p>

{% endblock %}