{% extends 'shop/layout.html.twig' %}
{% block title %}{{ 'order.id'|trans({'%order_id%': order.id}) }}{% endblock title %}

{% block shop_content %}

<header>
    <h1>{{  'order.id'|trans({'%order_id%': order.id}) }}</h1>
</header>

{% endblock %}